<mat-card class="full-screen-card">
    <mat-card-title>Registrarse</mat-card-title>
    <div style="display: flex; justify-content: center; align-items: center;">
        <p>Te agradecemos por registrarte. ¡Esperamos que disfrutes de la aplicación!</p>
    </div>

    <mat-card-content class="full-screen-card-content">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <p *ngIf="error" class="error">
                {{error}}
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Email del Usuario</mat-label>
                    <input type="text" id="username" matInput formControlName="username" class="input">
                    <mat-hint *ngIf="registerFormControls.username.invalid 
                        && (registerFormControls.username.dirty || registerFormControls.username.touched)">
                        <div *ngIf="registerFormControls.username.errors?.['required']">
                            Usuario es requerido
                        </div>
                        <div *ngIf="registerFormControls.username.errors?.['minlength']">
                            El usuario debe tener al menos 4 caracteres
                        </div> 
                        <div *ngIf="registerFormControls.username.errors?.['email']">
                            El usuario debe ser correo electrónico
                        </div>                        
                    </mat-hint>
                </mat-form-field>
            </p>
            
            <p>
                <mat-form-field>
                    <mat-label>Clave</mat-label>
                    <input type="password" id="password" matInput formControlName="password" class="input">
                    <mat-hint *ngIf="registerFormControls.passwordinvalid 
                        && (registerFormControls.passwordirty || registerFormControls.passwordouched)">
                        Clave es requerida
                    </mat-hint>
                </mat-form-field>
            </p>
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn-register">Registrarse</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
