<div class="container">
    <div class=" justify-content-center">
        <div class="">
            <div class="card shadow-lg mt-5">
                <div class="card-header text-center py-4 border-0">
                    <h1 class=" fw-bold">Add new category</h1>
                </div>
                <div class=" p-4">
                        <!-- Inputs para crear nuevas tareas-->
                            <div class="">
                                <h1>Add Name</h1>
                                <input type="text" class="border-1 p-3 mb-4 shadow-none" 
                                    placeholder="Name goes here" #nameInput>
                                <h1>Color</h1>
                                <!--<input type="text" class="border-0 py-3 shadow-none"
                                placeholder="Color goes here" #colorInput>-->
                                <select class="border-0 py-3 shadow-none" #colorInput>
                                    <option value="#C70039">Red</option>
                                    <option value="#216BF5">Blue</option>
                                    <option value="#7AD57A">Green</option>
                                    <option value="#FFC300 ">Yellow</option>
                                    <option value="#8821F5">Purple</option>
                                </select>

                                <button class="btn text-success" routerLink="/"> CANCEL </button>
                                
                                <button class="btn text-success" routerLink="/"
                                        (click)="onClick(nameInput,colorInput)">
                                    ADD TASK
                                </button>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>