//Alterar el comportamiento global del DOM generado (no del todo)

.full-screen-card{
    background-color: #1C273C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.full-screen-card-content{
    background-color: #44A0A0;
    padding-top: 100px;
    border-radius: 10px;
    margin-top: 50px;
    flex: 1;
    overflow-y: auto;

}

.input{
    background-color: rgba(255, 255, 255, 0.822);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input:focus{
    border-color: #1C273C;
}

:host{
    display: flex;
    justify-content: center;
    //margin: 100px 0px; //top-100, right 0
    margin-top: 100px;
    margin-right: 0px;
}

.error{
    padding: 16px;
    width: 400px;
    color: white;
    background-color: red;
}

.mat-form-field{
    width: 100%;
    min-width: 400px;
}

mat-card-title{
    margin-bottom: 40px;
}

mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
}

.btn-login{
    background-color: #1C273C;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: white;
    color: #1C273C;
  }


.btn-register{
    background-color: white;
    color: #1C273C;
    border-color: #1C273C;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn-register:hover {
    background-color: #1C273C;
    color: white;
  }

